@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: linear-gradient(to right, #f2eaff, #dac0ff);
    height: 100vh;
}

.main-heading {
    color: #690cb0;
    font-family: "Roboto";
    font-size: 42;
    font-weight: bold;
}

.main-para {
    color: #3e4c59;
    font-family: "Roboto";
}

.image {
    height: 50px;
    width: 45px;
}

.span {
    color: #323f4b;
    font-size: 38px;
    font-family: "Roboto";
}

.form {
    background-color: #f3eaff;
    border-color: #9aa5b1;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    padding: 20px;
}

.quote {
    font-family: "Roboto";
    font-size: 23px;
    color: #323f4b;
    font-weight: 600;
}

.text {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    color: #3e4c59;
}

.submitButton {
    background-color: #690cb0;
    color: white;
    border-width: 0px;
    font-family: "Roboto";
    height: 40px;
    width: 90px;
    padding: 5px;
    border-radius: 8px;
    margin-right: 20px;
}

.resetButton {
    background-color: #ffffff;
    color: black;
    font-weight: 600;
    border-width: 0px;
    font-family: "Roboto";
    height: 40px;
    width: 90px;
    padding: 5px;
    border-radius: 8px;
}